.navegacao{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navegacao > a {
  text-decoration: none;
  color: white;

}

.imagem{
  width: 50px;
  border-radius: 20px;
}

.navegacao > a :hover{
  color: rgb(0, 242, 255);
}
