<div class="container-fluid">
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      <nav class="navegacao">
        <a href="/">Filmes</a>
          <a href="https://cdz-williamrx777.vercel.app/">Cdz</a>
          <a href="https://shurato-williamrx777.vercel.app/">Shurato</a>
          <a href="#">Yu yu hakusho</a>
          <a href="https://sw-williamrx777.vercel.app/">Samurai Warriors</a>
      </nav>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>
    </div>
  </nav>

</div>
